<div class="ac ae">
  <div class="ac ah ai aj">
    <div class="ai aj ak">
      <div class="ah ai al am">
        <span onclick="testmodel.update(3.1)">
          showers
        </span>
        <span onclick="testmodel.update(10.4)">
          lawns
        </span>
        <span onclick="testmodel.update(1.1)">
          toilets
        </span>

      </div>
      <div class="ah an">
        circle spot left
      </div>
    </div>
    <div class="ai aj ak">
      <div class="ah an">
        circle spot right
      </div>
      <div class="ah ai al ao">
        <span onclick="testmodel.update(40.2)">
          alfafa
        </span>
        <span onclick="testmodel.update(14.3)">
          rice
        </span>
        <span onclick="testmodel.update(100.4)">
          total
        </span>

      </div>
    </div>
  </div>
</div>