<div class="ac ag">
  <div class="ac ah ai aj">
    <categories domain="domestic" class="ah ai ak al am"></categories>
    <svg viewBox="0 0 1 1" xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="xMidYMid slice" class="ac ah am an">
      <circle ng-attr-cx="{{ 33 + &quot;%&quot; }}" ng-attr-cy="{{ .5 }}" ng-attr-r="{{ values.domestic / 100}}"/>
      <circle ng-attr-cx="{{ 67 + &quot;%&quot; }}" ng-attr-cy="{{ .5 }}" ng-attr-r="{{ values.agricultural / 200 }}"/>
    </svg>
    <categories domain="agricultural" class="ah ai ak am ao"></categories>
  </div>
</div>